/* Stylesheet do projeto imersão */


#imgback{

	background: url("../images/backunipe.jpg") no-repeat center center fixed;
	background-size: cover;
	
}

.imglogo{

	padding: 5px;
	margin: 0px 10px 10px 0;
}

.form-signin{

	width: 40%;
	margin-left: 30%;
	margin-top: 10%;

}

.heading{

	text-align: center;
	padding-bottom: 30px;
}

#backtelalogin{

	background-color: blue;
}

#button{

	padding-left: 10%;
	padding-right: 10%;
	margin-left: 68%;

}


#cortexto{

	color: #FFFF00;

}

