{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<title>Autenticação</title>

		<!-- chamando o bootstrap -->
		<link href= {% static "css/bootstrap.min.css" %} rel="stylesheet">
		<!-- chamando a folha de estilo-->
		<link rel="stylesheet" type="text/css" href= {% static "css/style.css" %}>






		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>




	</head>


	<body id="imgback" onload="ocultAlert()">

		<div class="container-desktop">

			<!--começo do header -->
			<header>
				
				<div class="imglogo">
					
					<img src= {% static "images/logo.png" %}>

				</div>

			</header>
			<!--fim do header -->

			<!--tela de login -->
			<div class="container">
					
				<form action="{% url 'django.contrib.auth.views.login' %} " method="post" name="login" class="form-signin">
				{% csrf_token %}

					<h3 id="cortexto" class="heading">Controle de Provas</h3>
					

					<div class="alert alert-warning" id="alert" style="display: none;">
 				 		<strong>Erro! </strong>Login e senha incorretos.
					</div>
					{% if form.errors %}
					<div class="form-group">
					     <input type="login"  onfocus ="enviardados()" onkeypress ="ocultAlert()" onclick="ocultAlert()"autofocus required="required" class="form-control" id="inputPassword" placeholder="Digite seu login" {{ form.username }}>

					</div>	
					{% else %}

					<div class="form-group">
					     <input type="login" onclick="ocultAlert()" autofocus required="required" class="form-control" id="inputPassword" placeholder="Digite seu login" {{ form.username }} >

					</div>
					{% endif %}
								
					<div class="form-group">
						<input type="password" onkeypress ="ocultAlert()" required="required" class="form-control" id="inputPassword" placeholder="Digite sua senha" {{ form.password }} >
					</div>
									  
					<button id="button"    type="submit" class="btn btn-warning btn-lg">Entrar</button>

				</form>
				

			</div>
			<!-- fim da tela login -->

		</div>
						
	</body>

	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   	<!-- chamando JS -->
   	<script src={% static "js/bootstrap.js" %}></script>
   	<script type="text/javascript">
   		function enviardados(){
 			document.getElementById("alert").style.display = "block";
			}
 		
 		function ocultAlert(){
 			document.getElementById("alert").style.display = "none";
 		}

   	</script>

</html>